@import '../base/variables';
@import '../base/reset';

.header{
    background: rgba(0, 0, 0, .7);
}

.nav-list{
    width: 50%;
    margin: 0 auto;
    min-width: 20rem;
    display: flex;
    flex-direction: row;
    li{
        flex: 1;
        padding: 1rem 0;
        text-align: center;
        color: $background-colour;
        &.active{
            border-bottom: 3px solid $background-colour;
        }
    }
}